<div>
  <ag-grid-angular
    style="height: 70vh; width: 68vw;"
    class="ag-theme-alpine mt-2"
    [rowData]="rowData$ | async"
    [columnDefs]="columnDefs"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>
  <button type="button" class="btn btn-primary btn-sm mt-1" data-bs-toggle="offcanvas" data-bs-target="#newClientPanel">New Client</button>
</div>

<!-- Offcanvas documentation here: https://getbootstrap.com/docs/5.0/components/offcanvas/-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="newClientPanel" aria-labelledby="newClientPanel" style="overflow-y: scroll">
  <div class="offcanvas-header pb-1">
    <h5 id="offcanvasRightLabel">Creat New Client</h5>
    <button id="closeButton" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <client-questions-component (closeClient)="closeOffcanvas()" ></client-questions-component>
</div>
