<!--Modal documentation: https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview-->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{client.user.firstName}} {{client.user.lastName}}</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="col">
        <div class="card m-3 p-2" style="outline: black">
          <h5 class="card-title w-50 m-2">Overview</h5>
          <div class="card-body">
            <p class="card-text">
              <span style="font-weight: bold">Account Number: </span> {{client.accountNumber}}
            </p>
            <div class="card-text">
              <span style="font-weight: bold;">Current Projects</span>
              <table class="table">
                <thead>
                <tr>
                  <th><h6>Project</h6></th>
                  <th><h6>Aims</h6></th>
                </tr>
                </thead>
                <tbody *ngIf="currentDonations.length > 0">
                <tr *ngFor="let project of currentDonations">
                  <td>{{project?.name}}</td>
                  <td>{{project?.aims}}</td>
                </tr>
                </tbody>
                <tbody *ngIf="currentDonations.length == 0">
                <td>No donations made</td>
                </tbody>
              </table>
            </div>
            <p class="card-text">
              <span style="font-weight: bold">Recommended Project: </span> {{client.recommendation}} </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 p-2" style="outline: black">
          <h5 class="card-title w-50 m-2">Financial Details</h5>
          <div class="card-body">
            <p class="card-text">
              <span style="font-weight: bold">Available to Invest: </span>{{client.investableAmount}} </p>
            <p class="card-text">
              <span style="font-weight: bold">Previous Projects: </span><span *ngFor="let p of pastDonations">{{p?.name}}, </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
