<!--Modal documentation: https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview-->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add New Project</h5>
    <button id="closeModal" type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Project Name</label>
        <input type="text" formControlName="name" class="form-control"/>
        <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
          <div *ngIf="form['name'].errors['required']">Project Name is Required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Target Goal</label>
        <input formControlName="goal" class="form-control" list="goal-list" placeholder="{{prePopulatedGoal}}" [ngModel]="goalValue"/>
        <datalist id="goal-list">
          <option *ngFor="let goal of GoalEnumList" value="{{goal.value}}"></option>
        </datalist>
      </div>
      <div class="form-group">
        <label>Region</label>
        <input formControlName="region" class="form-control" list="region-list"/>
        <datalist id="region-list">
          <option *ngFor="let region of RegionEnumList" value="{{region.value}}"></option>
        </datalist>
      </div>
      <div class="form-group">
        <label>Aims</label>
        <input type="text" formControlName="aims" class="form-control" />
      </div>
      <div class="form-group">
        <label>Strategy</label>
        <input type="text" formControlName="strategy" class="form-control" list="strategy-list" />
        <datalist id="strategy-list">
          <option *ngFor="let strategy of StrategyEnumList" value="{{strategy.value}}"></option>
        </datalist>
      </div>
      <div class="form-group">
        <label>Management Fees (%)</label>
        <input type="text" formControlName="fees" class="form-control"/>
      </div>
      <h6>Which of these describe the project the best?</h6>
      <div class="form-group">
        <label>Is this a short or long term project?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="shortOverLong" value=True id="shortTerm">
            <label class="form-check-label" for="shortTerm">
              Short Term (Disaster relief etc)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="shortOverLong" value=False id="longTerm">
            <label class="form-check-label" for="longTerm">
              Long Term
            </label>
          </div>
        </div>
      <div class="mb-2">
        <label>Social Over Environmental Impact?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="socialOverEnv" value=True id="social">
          <label class="form-check-label" for="social">
            Social
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="socialOverEnv" value=False id="environmental">
          <label class="form-check-label" for="environmental">
            Environmental
          </label>
        </div>
      </div>
      <div class="mb-2">
        <label>Economic improvements over Healthcare?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="econOverHealth" value=True id="economy">
          <label class="form-check-label" for="economy">
            Economy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="econOverHealth" value=False id="health">
          <label class="form-check-label" for="health">
            Health
          </label>
        </div>
      </div>
      <div class="mb-2">
        <label>Relieving Poverty or Improving Education?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="povOverEd" value=True id="poverty">
          <label class="form-check-label" for="poverty">
            Poverty
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="povOverEd" value=False id="ed">
          <label class="form-check-label" for="ed">
            Education
          </label>
        </div>
      </div>
      <button class="btn btn-primary">
        Save Changes
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
  </div>
</div>
