<div class="container">
  <h3 class="pt-3"> Welcome {{clientUser.firstName}}</h3>
  <div class="row pt-3">
    <div class="col">
      <div class="card m-3 p-2" style="outline: black">
        <div class="card-header">
        <h5 class="card-title w-50 m-2">Overview</h5>
        </div>
        <div class="card-body">
          <p class="card-text row">
            <span style="font-weight: bold" class="col">Account Number: </span> <span class="col">{{client?.accountNumber}}</span>
          </p>
          <p class="card-text row">
            <span style="font-weight: bold" class="col">First Name: </span> <span class="col"> {{client?.user?.firstName}}</span>
          </p>
          <p class="card-text row">
            <span style="font-weight: bold" class="col">Last Name: </span> <span class="col">{{client?.user?.lastName}}</span>
          </p>
          <p class="card-text row">
            <span style="font-weight: bold" class="col">Contact Email: </span> <span class="col">{{client?.emailAddress}}</span>
          </p>
          <p class="card-text row">
            <span style="font-weight: bold" class="col">Recommended Project: </span> <span class="col">{{client?.recommendation}}</span> </p>
          <div class="card-text">
            <span style="font-weight: bold;">Donations</span>
            <table *ngIf="(currentProjects.length > 0)" class="table">
              <thead>
              <tr>
                <th><h6>Project</h6></th>
                <th><h6>Aims</h6></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let project of currentProjects">
                <td>{{project.name}}</td>
                <td>{{project.aims}}</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="!(currentProjects.length > 0)">
              No current donations
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-sm" type="button" (click)="openUpdatePreferencesModal()">Update Personal Info</button>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-3 p-2" style="outline: black">
        <div class="card-header">
        <h5 class="card-title w-50 m-2">Financial Details</h5>
        </div>
        <div class="card-body">
          <p class="card-text row">
            <span style="font-weight: bold" class="col">Available to Invest (£): </span> <span class="col">{{client?.investableAmount}} </span> </p>
          <p class="card-text">
            <span style="font-weight: bold">Donation History</span>
          <table *ngIf="(client.pastDonations!.length > 0)" class="table">
            <thead>
            <tr>
              <th><h6>Project</h6></th>
              <th><h6>Amount</h6></th>
              <th><h6>Donation Start Date</h6></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donation of client?.pastDonations">
              <td>{{donation.project.name}}</td>
              <td>{{donation.amount}}</td>
              <td>{{donation.timestamp *1000 | date }}</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="!(client.pastDonations.length > 0)">
            No past donations
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
