<div class="offcanvas-body pt-1">
  <form [formGroup]="createClientForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-1">
      <div class="mb-1">
        <label for="firstname" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstname" id="firstname" [ngModel]="defaultClient?.user?.firstName">
      </div>
      <div class="mb-1">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" id="lastname" [ngModel]="defaultClient?.user?.lastName">
      </div>
      <div class="mb-1">
        <label for="email" class="form-label">Email Address</label>
        <input type="text" class="form-control" formControlName="email" id="email" [ngModel]="defaultClient?.emailAddress">
      </div>
      <div class="mb-1">
        <label for="accountnumber" class="form-label">Account Number</label>
        <input type="text" class="form-control" formControlName="accountnumber" id="accountnumber" [ngModel]="defaultClient?.accountNumber">
      </div>
      <div class="mb-1">
        <label for="advisorteam" class="form-label">Advisor Team</label>
        <input type="text" class="form-control" formControlName="advisorteam" id="advisorteam" [disabled]="defaultClient != undefined">
      </div>
      <div class="mb-1">
        <label for="donationamount" class="form-label">Amount to Donate</label>
        <input type="text" class="form-control" formControlName="donationamount" id="donationamount" [ngModel]="defaultClient?.investableAmount">
      </div>
    </div>
    <h6 class="pt-1">Giving Preferences</h6>
    <div class="mb-2">
      <label>{{questions.QU1}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu1" [value]=true id="q1social" [ngModel]="defaultClient?.scores?.socialOverEnv">
        <label class="form-check-label" for="q1social">
          Social
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu1" [value]=false id="q1environmental" [ngModel]="!defaultClient?.scores?.socialOverEnv">
        <label class="form-check-label" for="q1environmental">
          Environmental
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU2}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu2" [value]=true id="q2economy"  [ngModel]="defaultClient?.scores?.economyOverHealthcare">
        <label class="form-check-label" for="q2economy">
          Economy
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu2" [value]=false id="q2healthcare" [ngModel]="!defaultClient?.scores?.economyOverHealthcare">
        <label class="form-check-label" for="q2healthcare">
          Health
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU3}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu3" [value]=true id="q3poverty"  [ngModel]="defaultClient?.scores?.povertyOverEducation">
        <label class="form-check-label" for="q3poverty">
          Poverty
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu3" [value]=false id="q3education" [ngModel]="!defaultClient?.scores?.povertyOverEducation">
        <label class="form-check-label" for="q3education">
          Education
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU4}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu4" [value]=true id="q4targeted" [ngModel]="!defaultClient?.scores?.targetedOverDiverse">
        <label class="form-check-label" for="q4targeted">
          Targeted Strategy
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu4" [value]=false id="q4diverse" [ngModel]="!defaultClient?.scores?.targetedOverDiverse">
        <label class="form-check-label" for="q4diverse">
          Diverse Strategy
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU5}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu5" value="NONE" id="q5no">
        <label class="form-check-label" for="q5no">
          No
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu5" [value]="'UNDER5'" id="q5under5" [ngModel]="defaultClient?.scores?.managementFees">
        <label class="form-check-label" for="q5under5">
          < 5
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu5" [value]="'OVER5'" id="q5over5" [ngModel]="defaultClient?.scores?.managementFees">
        <label class="form-check-label" for="q5over5">
          > 5
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU6}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu6" [value]=true id="q6esg" [ngModel]="defaultClient?.scores?.esgOverAll">
        <label class="form-check-label" for="q6esg">
          Only ESG Investments
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu6" [value]=false id="q6all" [ngModel]="!defaultClient?.scores?.esgOverAll">
        <label class="form-check-label" for="q6all">
          All Investments
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU7}}</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu7" [value]=true id="q7short" [ngModel]="defaultClient?.scores?.shortOverLongTerm">
        <label class="form-check-label" for="q7short">
          Short Term (Disaster relief etc)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="qu7" [value]=false id="q7long" [ngModel]="!defaultClient?.scores?.shortOverLongTerm">
        <label class="form-check-label" for="q7long">
          Long Term
        </label>
      </div>
    </div>
    <div class="mb-2">
      <label>{{questions.QU8}}</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8a" value="S.America" id="q8SA" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.SAMERICA)">
        <label class="form-check-label" for="q8SA">
          South America
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8b" value="N.America" id="q8NA" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.NAMERICA)">
        <label class="form-check-label" for="q8NA">
          North America
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8c" value="Africa" id="q8A" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.AFRICA)">
        <label class="form-check-label" for="q8A">
          Africa
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8d" value="Europe" id="q8E" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.EUROPE)">
        <label class="form-check-label" for="q8E">
          Europe
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8e" value="Middle East" id="q8ME" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.MEAST)">
        <label class="form-check-label" for="q8ME">
          Middle East
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8f" value="Central & South Asia" id="q8As" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.CANDSASIA)">
        <label class="form-check-label" for="q8As">
          Central & South Asia
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8g" value="East & South East Asia" id="q8EAs" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.EANDSEASIA)">
        <label class="form-check-label" for="q8EAs">
          East & South East Asia
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="qu8h" value="Oceania" id="q8O" [checked]="defaultClient?.scores?.region?.includes(RegionEnum.OCEANIA)">
        <label class="form-check-label" for="q8O">
          Oceania / Australasia
        </label>
      </div>
    </div>
    <button [disabled]="formIncomplete()" class="btn btn-primary btn-sm">Update Client</button>
  </form>
</div>

