<div class="container" style="background-color: #F5F5F5">
  <h5 class="pt-2">{{title}}</h5>
  <button *ngIf="filters" type=button class="btn btn-secondary btn-sm"  (click)="resetFilters()"> View All Projects </button>
    <div class="row">
    <div *ngFor="let project of projects | async" class="card projectHover" style="outline: black" (click)="openViewModal(project)">
      <h5 class="card-title" >{{project.name}}</h5>
      <div class="card-body" style="padding: 0.5rem">
        <p class="card-text">
          Region: {{project.region}} </p>
        <p class="card-text">
          Aims: {{project.aims}} </p>
        <p class="card-text">
          Investment Strategy: {{project.strategy}}
        </p>
      </div>
    </div>
    </div>
  <div *ngIf="isAdvisor" class="p-1">
    <button class="btn btn-primary btn-sm pb-1" type="button" (click)="openAddModal()"> New Project</button>
  </div>
</div>
