<div class="container" style="background-color: lightgrey">
  <div class="row">
    <div *ngFor="let project of projects | async" class="card"  style="outline: black">
      <h5 class="card-title w-50">{{project.name}}</h5>
      <div class="card-body">
        <p class="card-text">
          {{project.aims}} </p>
        <p class="card-text">
          {{project.strategy}}
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 60rem; margin-top: 10rem; padding-bottom: 0.5rem">
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addProjectModal" data-show="true"> New Project</button>
  </div>
</div>

<!-- modal -->
<div id="addProjectModal" class="modal fade"  role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <add-project-modal-component></add-project-modal-component>
  </div>
</div>
