<div class="container" style="background-color: lightgrey">
    <div class="row">
    <div *ngFor="let project of projects | async" class="card"  style="outline: black">
      <h5 class="card-title" ><button class="btn btn-secondary" style="background: none; color: black; font-weight: bold; border: none;" type="button" (click)="openViewModal(project)">{{project.name}}</button></h5>
      <div class="card-body" style="padding: 0.5rem">
        <p class="card-text">
          Region: {{project.region}} </p>
        <p class="card-text">
          Aims: {{project.aims}} </p>
        <p class="card-text">
          Investment Strategy: {{project.strategy}}
        </p>
      </div>
    </div>
    </div>
  <div *ngIf="advisor" class="p-1">
    <button class="btn btn-primary btn-sm" type="button" (click)="openAddModal()"> New Project</button>
  </div>
</div>
